---
layout: default
---

<!DOCTYPE html>
<html>
<title>Horários</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/template01.css">
<link rel="stylesheet" href="css/template02.css">
<link rel="stylesheet" href="css/template03.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<body id="Home">

<!-- Navbar -->
<div class="w3-top">
 <ul class="w3-navbar w3-theme-d2 w3-left-align">
  <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
    <a class="w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  </li>
  <li><a href="#" class="w3-teal">Home</a></li>
  <li class="w3-hide-small"><a href="#curso" class="w3-hover-white">Cursos</a></li>
  <li class="w3-hide-small"><a href="#professor" class="w3-hover-white">Professor</a></li>
 </ul>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium">
    <ul class="w3-navbar w3-left-align w3-theme">
      <li><a href="#curso">Cursos</a></li>
      <li><a href="#professor">Professor</a></li>
    </ul>
  </div>
</div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="img/logo_ifpb.jpg" alt="boat" style="width:75%;min-height:350px;max-height:800px;">
  <div class="w3-container w3-display-bottomright w3-margin-bottom">  
    <button class="w3-btn w3-xlarge w3-theme w3-hover-teal" title="IFPB"><a href="http://www.ifpb.edu.br/guarabira" target="_black" style="text-decoration:none">Campus Guarabira</a></button>
  </div>
</div>

<!-- Cursos -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="home">

  <div class="w3-center" id="home">
    <h2>Home</h2>
      <p>Um site criado para professores e alunos do IFPB - Campus Guarabira terem acesso aos horários das diversas turmas</p>
  </div>
  <div class="w3-center" id="curso">
    <h2>Cursos</h2>
       {{ content }}
  </div>

</div>
<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>Acesse também nossos websites</h4>
  <a class="w3-btn-floating w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-btn-floating w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-btn-floating w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="w3-btn-floating w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
  <a class="w3-btn-floating w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
  <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>

  <div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">Go To Top</span>   
    <a class="w3-btn w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<script>
// Script for side navigation
function w3_open() {
    var x = document.getElementById("mySidenav");
    x.style.width = "300px";
    x.style.textAlign = "center";
    x.style.fontSize = "40px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
}

// Close side navigation
function w3_close() {
    document.getElementById("mySidenav").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
